<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <form>
            <!-- TODO: form -->
        </form>

        <!-- TODO: posts -->
    </body>
</html>
